#mise_en_forme {
    display: flex;
}

@media (max-width: 479px)
{
    #mise_en_forme {flex-direction: column; justify-content: flex-start;}
    body { background-color: red; font-size:30px;}

}

@media (min-width: 480px) and (max-width: 1023px)
{   
    #mise_en_forme {flex-direction: row; flex-wrap: wrap;}
    #small {width: 60%; padding:10px;}
    #medium {width: 30%; padding: 10px;}
    #large {width: 100%; padding: 10px;}
    body {background-color: green; font-size: 33px;}

}

@media (min-width:1024px) 
{
    #mise_en_forme {flex-direction: row; justify-content: flex-start;}
    body {background-color: rgb(12, 92, 161); font-size: 35px;}
    #small {padding:30px;}
    #medium {padding:30px;}
    #large {padding: 30px;}
   
}



